body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator{
    border: none;
    width: 400px;;
    background-color: #333;
    text-align: center;
    border-radius: 15px;
   
}

h1{
    font-size: 25px;
    font-weight: 700;
    color: blue;
    padding-bottom: 20px;
}

input{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #000;
    text-align: end;
    font-size: 30px;
    font-weight: 700;
}

.button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button{
    font-size: 40px;
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
    border: none;
    
}

button:hover{
    background-color: #555;
}

span{
    color: blue;
    box-sizing: border-box;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.clear{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.clear:hover{
    background-color: #fff;
    color: #000;
}

.divide,.minus,.plus,.multiply{
    background-color: blue;
}


/* responsive on mobile */


@media only screen and (max-width: 600px) {

    .calculator{
        width: 350px;
    }
    button{
        font-size: 35px;
    }
    input{
        width: 100%;
        padding: 30px;
        margin-bottom: 15px;
    }
}
