body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator{
    background: #333;
    padding: 30px;
    border-radius: 10px;
    width: 260px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

#display {
width: 100%;
height: 50px;
font-size: 22px;
text-align: right;
padding: 10px;
border: none;
border-radius: 5px;
margin-bottom: 15px;
background: #fff;
color: #0f0;
}

.buttons {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
}


button {
padding: 25px;
font-size: 20px;
border: none;
border-radius: 50%;
cursor: pointer;
background: #555;
color: #fff;

}

button:hover {
background: #111;
}


.equals {
background: #0a84ff;
}


.equals:hover {
background: #0066cc;
}

h1{
    font-size: 20px;
    font-weight: 700;
    color: #0f0;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    #display{
        height: 30px;
    }

}